.container {
  margin: 0 auto;
  max-width: 1180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about {
  border-left: 1px solid black;
  padding: 140px 20px 140px 90px;
}

.about h3 {
  text-align: left;
  margin-bottom: 40px;
  font-size: 32px;
  font-family: "Tenor sans", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateX(100px);
  opacity: 0;
}

.container h3.visible_h3 {
  animation: fadein_left 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.about .content {
  transform: translateX(100px);
  opacity: 0;
}

.about .content.visible_content {
  animation: fadein_left 1.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.about p {
  font-size: 20px;
  font-family: "Tenor sans", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 50px;
}

.about .link {
  padding: 17px 0;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  width: 70%;
  text-align: center;
  font-size: 16px;
  font-family: "Tenor sans", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 1px;
  transform: scale(0.8);
  transition: all 0.3s;
}

.link:hover {
  background-color: black;
  color: white;
}

.link.visible_link {
  animation: fadein_short 0.5s forwards;
}

.video {
  padding: 90px 100px 90px 20px;
}

.video video {
  width: 100%;
  height: 100%;
}

@keyframes fadein_short {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein_left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
