.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.container h3 {
    text-align: center;
    margin-bottom: 40px;
}

.content {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10fr 9fr;
}

.collections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collections > div {
    padding: 20px 0;
    margin-right: 100px;
    border-bottom: 1px solid black;
    font-size: 25px;
    text-transform: uppercase;
}

.image {

}