.container {
  position: relative;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);

  .under_content {
    background-color: white;
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0px;
  }

  .content_wrapper {
    position: fixed;
    width: 100%;
    background-color: rgba(252, 252, 249, 0.5);
    height: inherit;
    border-bottom: 1px solid black;

    .content {
      max-width: 1180px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 2fr 10fr 2fr;
      height: inherit;

      .logo {
        display: flex;
        align-items: center;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > div {
          margin-left: 30px;
        }

        .favorites {
          margin-top: 3px;
        }
      }
    }
  }
}
