.container {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.container h3 {
  text-transform: uppercase;
  margin: 130px 0 45px 0;
  font-size: 32px;
  font-family: "Tenor sans", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 1.5px;
  transform: scale(0.8);
}

.container h3.visible_h3 {
  animation: fadein_short 0.5s forwards;
}

.container a {
  padding: 20px;
  margin-top: 50px;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 45px;
}

@keyframes fadein_short {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
